.titleContainer {
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  display: flex;
}

@media (width<=991px) {
  .titleContainer {
    margin-top: 40px;
  }
}

.titleWrapper {
  align-items: center;
  gap: 10px;
  display: flex;
}

.mainTitle {
  color: #635039;
  text-align: center;
  font-family: Ballonku;
  font-size: 80px;
}

@media (width<=991px) {
  .mainTitle {
    font-size: 60px;
  }
}

@media (width<=640px) {
  .mainTitle {
    font-size: 40px;
  }
}

.subtitle {
  color: #635039;
  font-family: Ballonku;
  font-size: 30px;
}

@media (width<=991px) {
  .subtitle {
    font-size: 24px;
  }
}

@media (width<=640px) {
  .subtitle {
    font-size: 18px;
  }
}

.body {
  color: #000;
  background-color: #d5c7a3;
  border-radius: 27px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 720px;
  max-width: 100%;
  min-height: 451px;
  margin-top: 21px;
  margin-bottom: 23px;
  padding: 36px 47px 190px;
  font-family:
    Forum,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 16px;
  text-align: center;
}
@media (width<=991px) {
  .body {
    margin-bottom: 10px;
    padding-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.whatareyoucookingtoday {
  font-size: 30px;
  font-family: "Bungee", sans-serif;
  color: #635039;
}
@media (width<=991px) {
  .whatareyoucookingtoday {
    max-width: 100%;
    font-size: 40px;
  }
}

.inputField {
  display: flex;
  flex-direction: column;
  font-family: "Bungee", sans-serif;
  color: #635039;
  background-color: #fff;
  border-radius: 12px;
  border: 2px solid #635039;
  align-self: stretch;
  gap: 10px;
  width: 522px;
  max-width: 100%;
  min-height: 40px;
  margin-top: 38px;
  padding: 9px 12px 9px 13px;
}
@media (width<=991px) {
  .inputField {
    max-width: 100%;
  }
}

.generateButton {
  color: #635039;
  text-align: center;
  background-color: #f2e2b1;
  border-radius: 24px;
  border-color: #635039;
  align-self: stretch;
  width: 142px;
  max-width: 100%;
  min-height: 56px;
  margin-top: 38px;
  margin-bottom: 20px;
  font-family: "Bungee", sans-serif;
}
@media (width<=991px) {
  .generateButton {
    white-space: initial;
  }
}

.recipeImage {
  max-width: 100%;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin-bottom: 1rem;
  border: 1px solid #635039;
}

.resultContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.recipeTitle {
  font-family: "Bungee", sans-serif;
  color: #635039;
  font-size: 20px;
  margin-bottom: 10px;
  width: auto;
}

.recipeDescription {
  font-family: "Bungee", sans-serif;
  color: #886b49;
  font-size: 12px;
  margin-bottom: 10px;
  width: 70%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow-y: auto;
  padding: 2rem;
}

.overlayContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d5c7a3;
  padding: 2rem;
  border-radius: 10px;
  width: 90%;
  max-width: 600px;
  max-height: 90vh;
  overflow-y: auto;
  position: relative;
}

.recipeIngredients {
  font-family: "Bungee", sans-serif;
  color: #635039;
  font-size: 18px;
  margin-bottom: 5px;
}

.ingredientsList {
  list-style-type: none;
  text-align: left;
  margin-top: 5px;
  padding-left: 4em;
  color: #61482d;
  font-size: 14px;
  width: 100%;
}

.ingredientsListItem {
  margin-bottom: 4px;
}

.recipeInstructions {
  font-family: "Bungee", sans-serif;
  color: #635039;
  font-size: 18px;
  margin-top: 10px;
}

.instructionsList {
  list-style-type: decimal;
  padding-left: 2em;
  margin-top: 10px;
  text-align: left;
  color: #61482d;
  font-size: 14px;
  width: 90%;
}

.instructionsListItem {
  margin-bottom: 6px;
}

.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
}
